.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: blueviolet;
  color: #e7e7e7;
}
.card img {
  object-fit: cover;
  max-width: 100%;
}
.card h4,
.card h5,
.card p {
  margin-bottom: 0.5em;
}
.card button {
  width: 100%;
  padding: 0.8em;
  font-weight: bold;
}
